body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
}

.login-container {
    width: 700px;
    margin: 10px auto;
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
    text-align: center;
    margin-bottom: 80px;
}

.logo img {
    max-width: 500px;
}

.title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.input-wrapper {
    position: relative;
}

.input-wrapper i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
}

.input-wrapper input {
    width: 100%;
    padding: 10px 10px 10px 35px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.checkbox-group {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.checkbox-group input {
    margin-right: 5px;
}

.forgot-password {
    margin-bottom: 20px;
    text-align: right;
}

.forgot-password a {
    color: #007BFF;
    text-decoration: none;
}

.login-button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.additional-options {
    margin-top: 20px;
    text-align: center;
}

.additional-options a {
    color: #007BFF;
    text-decoration: none;
}

.language-option {
    display: inline-flex;
    align-items: center;
    gap: 5px;
}
